.contacts-qa {
  position: relative;
  background: url("../../img/contacts/qa-bg.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  height: 100vh;
}


.contacts-qa__list {
  list-style: none;
  display: grid;
  gap: 50px;
  width: 100%;
  list-style: none;
}

.contacts-qa__item {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 40px;
}